.q-field__label{
	color:var(--color-text);
}

.q-field--outlined .q-field__control:before {
	border-color: var(--color-border-input);
	transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);
}

.q-field--outlined .q-field__control:hover:before {
	border-color: var(--color-border-input-hover);
}

.q-field__native,
.q-field__prefix,
.q-field__suffix,
.q-field__input
{
	color: var(--color-text);
}

.q-field__control .q-field__marginal {
	color: var(--color-text);
}
